<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name" th:value="*{name}">
    <label for="lastname">Фамилия</label>
    <input type="text" th:field="*{lastName} " id="lastname" th:value="*{lastName}">
    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age" th:value="${user.age}">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" th:value="${user.email}">
    <label for="username">Никнейм: </label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <br><label for="password">Пароль: </label>
    <input type="password" th:field="*{password}" id="password">
    <br>
    <br>
    <label>Выберите роль:
        <select size="2" multiple name="roles">
            <option value="2">ROLE_ADMIN</option>
            <option selected="selected" value="1">ROLE_USER</option>
        </select>
    </label>
    <br>
    <br>
    <input type="submit" value="Обновить данные пользователя">
</form>
</body>
</html>